<pre>
ANALISIS PARKIR
</pre>

<pre>
HARIAN
Motor  : {{ data.harian.motor }} | Rp {{ data.harian.pend_motor }}
Mobil  : {{ data.harian.mobil }} | Rp {{ data.harian.pend_mobil }}

MINGGUAN
Motor  : {{ data.mingguan.motor }} | Rp {{ data.mingguan.pend_motor }}
Mobil  : {{ data.mingguan.mobil }} | Rp {{ data.mingguan.pend_mobil }}

BULANAN
Motor  : {{ data.bulanan.motor }} | Rp {{ data.bulanan.pend_motor }}
Mobil  : {{ data.bulanan.mobil }} | Rp {{ data.bulanan.pend_mobil }}

TAHUNAN
Motor  : {{ data.tahunan.motor }} | Rp {{ data.tahunan.pend_motor }}
Mobil  : {{ data.tahunan.mobil }} | Rp {{ data.tahunan.pend_mobil }}
</pre>

<a href="/">Kembali ke Menu</a>
